.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 480px;
  height: 459px;
  border-radius: 12px;
  background: #c2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #004980;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.levels {
  display: flex;
  flex-direction: row;
  gap: 26px;
  margin-top: 48px;
  margin-bottom: 28px;
}

.level {
  display: flex;
  width: 97px;
  height: 98px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  border-radius: 12px;
  background: #fff;
}

.checkboxButton {
  width: 97px;
  height: 98px;
  border-radius: 12px;
  color: #0080c1;
  text-align: center;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxButton:hover {
  color: #08608f;
  background-color: #e7f06c;
}

.selected {
  color: #08608f;
  background-color: #e7f06c;
  border: 2px solid #2E9AFF;
}

.selLevel {
  display: none;
}

.buttonStart {
  width: 153px;
  height: 40px;
  background-color: #33e042;
  border-radius: 4px;
  border: "0.7px solid var(--palette-navy-60, #5a6b3e)";
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: StratosSkyeng;
  font-size: 24px;
  line-height: 21px;
  font-weight: 500;
  letter-spacing: -0.14px;
  color: #5a6b3e;
  margin-right: 10px;
  margin-top: 10px;
}

.easyMode {
  font-family: StratosSkyeng;
  font-size: 24px;
  line-height: 21px;
  font-weight: 500;
  letter-spacing: -0.14px;
  color: #5a6b3e;
}
