.container {
  width: 672px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004980c0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 35px;
}

.timer {
  display: flex;
  align-items: flex-end;
  color: #fff;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.previewText {
  font-size: 30px;
  line-height: 30px;
  margin-top: 34px;
  margin-bottom: 10px;
}
.previewDescription {
  font-size: 18px;
  line-height: 18px;
}

.timerValue {
  text-align: right;
}

.timerDescription {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: -12px;
}

.attempts {
  padding-top: 40px;
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.footerEasy {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.footerCard {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.achievement {
  display: none;
}

.tooltip,
.tooltip2 {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext,
.tooltip2 .tooltiptext2 {
  visibility: hidden;
  width: 222px;
  height: auto;
  background-color: #C2F5FF;
  color: #004980;
  font-size: 18px;
  font-weight: 400;
  font-family: Inter2;
  line-height: 24px;
  text-align: center;
  border-radius: 12px;
  padding: 10px 0;

  /* Разместите всплывающую подсказку */
  position: absolute;
  top: 80px;
  left: -80px;
  z-index: 1;
}

.tooltip2 .tooltiptext2 {
  width: 187px;
  left: -60px;
}

.tooltip:hover .tooltiptext,
.tooltip2:hover .tooltiptext2 {
  visibility: visible;
  cursor: pointer;
}

.tooltip .tooltiptext::after,
.tooltip2 .tooltiptext2::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #C2F5FF transparent;
}

.forcesBox {
  width: 151px;
  height: 68px;
  display: flex;
  flex-direction: row;
  gap: 5px
  ;
}

.forceEye,
.forceCards {
  opacity: 1.0;
}
.forceEyeOff,
.forceCardsOff {
  opacity: 0.6;
}

.forceEye {
  display: none;
}

.iconEye {  
  background-color: rgba(223, 120, 25, 1.0);
  height: 25px;
  width: 25px;
  position: absolute;
  top: 40px;
  left: 45px;
  border-radius: 50%;
}

.iconEye {
  display: none;
}

.countEye {
  color: #fff;
  position: absolute;
  top: 45px;
  left: 54px;
  font-family: StratosSkyeng;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.countEye {
  display: none;
}

.iconCards {
  background-color: rgba(223, 120, 25, 1.0);
  height: 25px;
  width: 25px;
  position: relative;
  top: -34px;
  left: 45px;
  border-radius: 50%;
}

.countCards {
  color: #fff;
  position: relative;
  top: -53px;
  left: 54px;
  font-family: StratosSkyeng;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}
