.alohomora3,
.alohomora6,
.alohomora9 {
  position: relative;
  left: 130px;
  top: -185px;
  width: 212px;
  height: auto;
  background-color: #c2f5ff;
  color: #004980;
  font-size: 18px;
  font-weight: 400;
  font-family: Inter;
  line-height: 24px;
  text-align: center;
  border-radius: 12px;
  padding: 20px 0;
}

.alohomora6 {
  top: -325px;
}

.alohomora9 {
  top: -470px;
}