html {
  margin: 0;
}

body {
  background-color: #004980;
  margin: 0;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
li,
ol {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "StratosSkyeng";
  src:
    url("../public/assets/fonts/StratosSkyeng.woff2") format("woff2"),
    local("Arial");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src:
    url("../public/assets/fonts/Poppins.woff2") format("woff2"),
    local("sans-serif");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat1";
  src:
    url("../public/assets/fonts/Montserrat1.woff2") format("woff2"),
    local("sans-serif");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter1";
  src:
    url("../public/assets/fonts/Inter1.woff2") format("woff2"),
    local("sans-serif");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter2";
  src:
    url("../public/assets/fonts/Inter2.woff2") format("woff2"),
    local("sans-serif");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter3";
  src:
    url("../public/assets/fonts/Inter3.woff2") format("woff2"),
    local("sans-serif");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter4";
  src:
    url("../public/assets/fonts/Inter4.woff2") format("woff2"),
    local("sans-serif");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter5";
  src:
    url("../public/assets/fonts/Inter5.woff2") format("woff2"),
    local("sans-serif");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter6";
  src:
    url("../public/assets/fonts/Inter6.woff2") format("woff2"),
    local("sans-serif");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter7";
  src:
    url("../public/assets/fonts/Inter7.woff2") format("woff2"),
    local("sans-serif");
  font-weight: 400;
  font-style: normal;
}